[Unit]
Description=Nitter (An alternative Twitter front-end)
After=syslog.target
After=network.target

[Service]
Type=simple

# set user and group
User=root

# configure location
WorkingDirectory=/root/nitter
ExecStart=/root/nitter/nitter

Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
